.photo-grid{
    margin: 0 auto;
    padding: 0;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, 284px);
    grid-template-rows: repeat(auto-fill, 213px);
    gap: 16px;
    margin-bottom: 92px;
}


/* Адаптация под уменьшенные размеры*/

@media screen and (max-width: 1279px) {
    .photo-grid{
        grid-template-columns: repeat(auto-fill, 300px);
        grid-template-rows: repeat(auto-fill, 225px);
        gap: 14px;
    }
 }
 
 @media screen and (max-width: 1023px) {
    .photo-grid{
        grid-template-columns: repeat(auto-fill, 352px);
        grid-template-rows: repeat(auto-fill, 264px);
        gap: 16px;
    }
 }
 
 @media screen and (max-width: 767px) {
    .photo-grid{
        grid-template-columns: repeat(auto-fill, 288px);
        grid-template-rows: repeat(auto-fill, 216px);
        gap: 12px;
    }
 }


 