.card__link{
    margin: 0 auto;
    padding: 0;
    width: 456px;
    height: 22px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 122%;
    list-style-type: none;
    text-decoration-line: underline;
    color: white;
}