.card{
    margin: 0 auto;
    width: 984px;
    height: 3392px;
    margin-bottom: 92px;
    color: white;
}

/* Адаптация под уменьшенные размеры*/

@media screen and (max-width: 1279px) {
    .card{
        width: 928px;
        height: min-content;
        margin-bottom: 12px;
    }
 }
 
 @media screen and (max-width: 1023px) {
    .card{
        margin: 0;
        width: 720px;
        height: min-content;
        margin-bottom: 18px;
    }
 }
 
 @media screen and (max-width: 767px) {
    .card{
        width: 320px;
        height: min-content;
        margin-left: 0px;
        margin-bottom: 16px;
    }
 }