.card__website_url-heading{
    width: 456px;
    height: 12px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 100%;
    color: #AAAAAA;
    margin-bottom: 12px;
}