.cover__subtitle{
    margin: 0 auto;
    width: 360px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 122%;
    text-align: center;
    z-index: 2;
}

/* Адаптация под уменьшенные размеры*/

@media screen and (max-width: 767px) {
    .cover__subtitle{
        width: 288px;
        font-size: 14px;
        line-height: 16px;
    }
 }