.card__url-heading{
    width: 456px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 100%;
    color: #AAAAAA;
    margin-bottom: 12px;
    box-sizing: border-box;
    letter-spacing: 0.2em;
}

@media screen and (max-width: 1023px){
    .card__url-heading{
        margin: 0;
        padding: 0;
        margin-bottom: 12px;
        width: 300px;
    }
 }
 
@media screen and (max-width: 767px){
    .card__url-heading{
        margin: 0;
        padding: 0;
        margin-bottom: 12px;
        width: 200px;
    }
 }