.footer__copyright{
    margin: 0;
    padding: 0;
    width: 186px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 114%;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .footer__copyright{
        margin-top: 48px;
        text-align: left;
    }
 }