.cover__text{
    position: absolute;
    height: 250px;
    width: 560px;
    top: 33.10%;
    left: 26.35%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/* Адаптация под уменьшенные размеры*/

@media screen and (max-width: 1279px) {
    .cover__text{
        margin: 0;
        padding: 0;
        width: 560px;
        height: 250px;
        top: 30.47%;
        left: 22.66%;
        box-sizing: border-box;
        background-size: cover;
    }
 }
 
 @media screen and (max-width: 1023px) {
    .cover__text{
        margin: 0;
        padding: 0;
        width: 560px;
        height: 250px;
        top: 23.96%;
        left: 13.54%;
        box-sizing: border-box;
        background-size: cover;
    }
 }
 
 @media screen and (max-width: 767px) {
    .cover__text{
        margin: 16px;
        padding: 0;
        width: 280px;
        height: 134px;
        top: 16.50%;
        left: 0.00%;
        box-sizing: border-box;
        background-size: cover;
    }
 }