.cover{
    width: 1184px;
    height: 740px;
    margin: 0 auto;
    padding: 0;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 92px;
    background-image: url(../../images/background.jpg);
    background-size: cover;
    object-fit: cover;
    position: relative;
}

/* Адаптация под уменьшенные размеры*/

@media screen and (max-width: 1279px) {
    .cover{
        width: 100%;
        height: calc(0.625*100vw);
        margin: 0 auto;
        margin-bottom: 64px;
    }
 }
 
 @media screen and (max-width: 1023px) {
    .cover{
        width: 100%;
        height: calc(0.625*100vw);
        margin: 0 auto;
        margin-bottom: 88px;
    }
 }
 
 @media screen and (max-width: 767px) {
    .cover{
        min-width: 320px;
        height: calc(0.625*100vw);
        margin: 0 auto;
        margin-bottom: 64px;
    }
 }