.cover{
    width: 1184px;
    height: 740px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 92px;
}

/* Адаптация под уменьшенные размеры*/

@media screen and (max-width: 1279px) {
    .cover{
        width: 100%;
        height: calc(0.625*100vw);
        margin: 0 auto;
        margin-bottom: 92px;
    }
 }
 
 @media screen and (max-width: 1023px) {
    .cover{
        width: 100%;
        height: calc(0.625*100vw);
        margin: 0 auto;
        margin-bottom: 44px;
    }
 }
 
 @media screen and (max-width: 767px) {
    .cover{
        min-width: 320px;
        height: calc(0.625*100vw);
        margin: 0 auto;
        margin-bottom: 44px;
    }
 }