.cover__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 1184px;
    height: 740px;
    background: #2A2C2F;
    opacity: 0.3;
}

.cover__overlay:hover{
    opacity: 0.8;
}


/* Адаптация под уменьшенные размеры*/

@media screen and (max-width: 1279px) {
    .cover__overlay{
        width: 1024px;
        height: 640px;
        margin: 0 auto;
    }
 }
 
 @media screen and (max-width: 1023px) {
    .cover__overlay{
        width: 768px;
        height: 480px;
        margin: 0 auto;
        margin-bottom: 64px;
    }
 }
 
 @media screen and (max-width: 767px) {
    .cover__overlay{
        width: 320px;
        height: 200px;
        margin: 0 auto;
        margin-bottom: 64px;
    }
 }