.cover__background{
    position: absolute;
    top:0;
    left: 0%;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #2A2C2F;
    opacity: 0.8;
}

.cover__background:hover{
    opacity: 0.3;
}