.cover__title{
    margin: 0 auto;
    width: 560px;
    font-family: 'Inter Black', Arial, sans-serif ;
    font-size: 72px;
    line-height: 106%;
    text-align: center;
    z-index: 2;
    margin-bottom: 32px;
    background: none;
}

/* Адаптация под уменьшенные размеры*/

 @media screen and (max-width: 767px) {
    .cover__title{
        width: 248px;
        height: auto;
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 16px;
    }
 }