.lead__group{
    position: absolute;
    width: 937.09px;
    height: 262.99px;
    left: 23.27px;
    top: 90.21px;
}

/* Адаптация под уменьшенные размеры*/

@media screen and (max-width: 1279px){
    .lead__group{
        width: 883.76px;
        height: 248.02px;
        left: 21.95px;
        top: 85.07px;
    }
 }
 
 @media screen and (max-width: 1023px){
    .lead__group{
        width: 95.75%;
        height: calc(0.2831*100vw);
        left: 18.16px;
        top: 70.41px;
    }
 }
 
 @media screen and (max-width: 767px){
    .lead__group{
        width: 95.75%;
        height: calc(0.2831*100vw);
        left: 7.57px;
        top: 29.34px;
        z-index: 3;
    }
 }