.photo{
    margin: 0 auto;
    padding: 0;
    width: 1184px;
    margin-bottom: 92px;
}

/* Адаптация под уменьшенные размеры*/
 
@media screen and (max-width: 1279px) {
    .photo {
        width: 928px;
    }
 }

@media screen and (max-width: 1023px) {
    .photo {
        width: 720px;
        margin-bottom: 88px;
    }
 }
 
@media screen and (max-width: 767px) {
    .photo {
        width: 288px;
        margin-bottom: 64px;
    }
 }